<h1>Add error</h1>
<form method="POST" action="/errors/add">
    <label>Error name</label><br>
    <input type="text" name="errName"><br><br>
    <input type="submit" value="Done">
</form>


<h1>Add translations</h1>
<form method="POST" action="/lang/add">

 
    <label>Error name</label><br>
    <input type="text" name="err"><br><br>

    <label>Country code</label><br>
    <input type="text" name="countryCode"><br><br>

    <label>Translate</label><br>
    <input type="text" name="errTranslate"><br><br>

    <input type="submit" value="Done"><br><br>
</form>


<h1>Link errors and translations</h1>
<form method="POST" action="/lang_and_err/add">

    <label>Error</label><br>
    <input type="text" name="err"><br><br>

    <input type="submit" value="Bind"><br><br>
</form>

<h1>Remove links</h1>
<form  method="POST" action="/remove/translate">

    <label>Error</label><br>
    <input type="text" name="err"><br><br>
    <input type="submit" value="OK"><br><br>
</form>

<h1>Erorrs</h1>
<ul>
    <% translates.forEach(function(translate) { %>

    <li><%= translate.name %>/ <%=translate.code%>:<%= translate.text %></li>

<% }) %>
</ul>